body {
    font-weight: 400;
    background: #fff;
    color: #656565;
    -webkit-font-smoothing: antialiased !important;
    overflow: auto;
    font-family: 'Poppins', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    color: #666;
}

.brand-logo {
    /* width: 130px; */
    height: 60px;
}

div.inner-banner {
    background: linear-gradient(45deg, black, black);
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-position: center;
    margin: 0 auto;
    background-size: cover;
    color: white;
}

/* section {
    padding: 20px 0px;
}

section.inner-banner .inner-heading {
    text-align: left;
    display: block;
    width: 100%;
}

section.inner-banner .inner-heading h2 {
    color: #fff;
} */

h2 {
    font-size: 40px;
}

/* section.inner-banner .inner-heading .breadcrumb {
    background: none;
    display: inline-flex;
    width: auto;
    padding: 0px;
    margin: 0px;
    margin-top: 20px;
} */

.header {
    z-index: 9999;
    width: 100%;
    background: #fff;
    position: relative;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    display: block;
}