.section {
    overflow: hidden;
}

.clsCleaner{
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 0px;
    margin-bottom: 0px;
} 


.carousel-item img{
    object-position: 50% 50%; 
    width: 100%; 
    height: 440px; 
    object-fit: cover;
}

.img-container img {
    object-position: 50% 50%; 
    width: 940px; 
    height: 440px; 
    object-fit: cover;
  }

#demo{
   width: 100%;
   height: 100%;
}

.img-aboutus img {
    object-position: 50% 50%; 
    width: 160px; 
    height: 85px; 
    object-fit: cover;
  }

  .kampfer-logo {
    width: 200px; 
    height: 120px; 
    
  }

/* .sec_aus{
  background:linear-gradient(#5F93C5 30%, 70%, #AC7AD9 90%);
  color: white;
} */







