
.img-area::before {
    position: absolute;
    /* top: 50%;
    left: 50%; */
    z-index: 2;
    display: block;
    content: '';
    width: 0;
    height: 0;
    background: rgba(0,0,0,.2);
    border-radius: 100%;
    transform: translate(-50%, -50%);
    opacity: 0;
}
/* .img-area:hover{
  animation: bloom ease-in-out .75s forwards;
}
.img-area:hover::before {
    animation: circle .75s;
} */
@keyframes bloom {
    0% {
        filter: grayscale(.8);
    }
    40% {
        filter: grayscale(.5);
    }
    100% {
        filter: grayscale(0);
    }
}
@keyframes circle {
    0% {
        opacity: .5;
    background: rgba(213,156,34,.2);

    }
    40% {
        opacity: 1;
    background: rgba(213,34,160,.2);
    }
    100% {
        width: 200%;
        height: 200%;
        opacity: 0;
    }
}
.product_priceQuote{
  padding-right: 80px;
  -webkit-box-flex: 2;
  max-width: 633px;
  flex: 2 1 0%;
}
.priceTag{
font-weight: bold;
font-size:16px;
font-family: Arial, Helvetica, sans-serif;
}

.productOverviewBox {
  list-style: none;
}
/* .product_name{

  font-weight: bold;
  font-size:35px;
} */

/* div.services-top .img-area {
  width: 100%;
  position: relative;
} */
.content-area {
  padding-top: 20px;
  text-align: left;
}
/*.product_img_style{
  width:400px;
  height:489px;
}*/
.main-container{
  /* width: 990px;
  text-align: left;*/
  padding-left: 0;
  padding-right: 0;
}
.wrapper{
  text-align:center;
}

.textleft{text-align: left;}

 .f_priceTag{
  background: linear-gradient(#ECECEC 0%, 50%, #82C753 90%);
  color:white;
 }
 .j_priceTag{
  background: linear-gradient(#ECECEC 0%, 10%, #A93A7C 90%);
  color:white;
 }
 .l_priceTag{
  background: linear-gradient(#ECECEC 0%, 10%, #B5A900 90%);
  color:white;
 }
 .r_priceTag{
  background: linear-gradient(#ECECEC 0%, 10%, #C21C52 90%);
  color:white;
 }

 .g_priceTag{
  background: linear-gradient(#ECECEC 0%, 10%, #0093DC 90%);
  color:white;
 }
 .t_priceTag{
  background: linear-gradient(#ECECEC 0%, 10%, #0B34BE 90%);
  color:white;
 }
 .d_priceTag{
  background: linear-gradient(#ECECEC 0%, 10%, #C59A00 90%);
  color:white;
 }



.inner-banner .inner-heading {
    text-align: left;
    display: block;
    width: 100%;
    padding: 20px 0px;
}

.inner-banner .inner-heading h2 {
    color: #fff;
} 

 @media (max-width: 600px){
   /* .product_img_style{
    border-color: red;
    width: 200px;
   } */
 }
 /* p{
  font-size:2vw;
 } */

 .product_img_style{
   width:95%;
 }